<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <section class="hero-section">
      <div class="overlay h-100">
        <div class="container h-100">
        <header class="">
            <nav class="d-flex justify-content-between align-items-center py-4">
              <div class="logo">
                <h3 class="text-white">
                    <a href="/" class="text-decoration-none text-white">
                        <span class="text-danger">Book</span>MyTicket
                    </a>
                </h3>
              </div>
              <div class="links px-5 rounded-pill py-3">
                <div class="d-flex align-items-center gap-4">
                  <a href="" class="text-decoration-none fw-medium text-white"
                    >Home</a
                  >
                  <a href="" class="text-decoration-none fw-medium text-white"
                    >Movie</a
                  >
                  <a href="" class="text-decoration-none fw-medium text-white"
                    >Theatre</a
                  >
                  <a href="" class="text-decoration-none fw-medium text-white"
                    >Release</a
                  >
                </div>
              </div>
              <div>
                <a
                  href=""
                  class="btn text-white btn-danger rounded-pill px-4 fw-bold"
                  >Login</a
                >
              </div>
            </nav>
        </header>

        <div class="hero-content text-white w-50 h-100 d-flex flex-column justify-content-center">
            <h1 class="">Coolie</h1>
            <h3>Action | Adventure | 2025 | 2h 8m</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore saepe molestiae impedit cumque accusamus quasi amet aut, perferendis aperiam quod nulla exercitationem vero cum minus omnis repudiandae unde porro voluptatibus?</p>
            <div class="exl-btn">
                <a href="" class="btn btn-danger fw-medium rounded-pill text-white px-4 py-2">Explore Movie <i class="fa-solid fa-arrow-right ms-1"></i></a>
            </div>
        </div>
        </div>
      </div>
    </section>

    <section class="movie-card"></section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
