<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BookMyTicket</title>
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/screen.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Off-canvas -->

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
       data-bs-theme="dark"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div></div>
      </div>
    </div>

    <!-- Hero-section -->
    <section class="hero-section-movie">
      <div class="overlay h-100">
        <div class="container h-100">
          <header class="">
            <nav class="d-flex justify-content-between align-items-center py-4">
              <div class="logo">
                <h3 class="text-white">
                  <a href="/" class="text-decoration-none text-white">
                    <span class="text-danger">Book</span>MyTicket
                  </a>
                </h3>
              </div>
              <div class="links px-5 rounded-pill py-3">
                <div class="d-flex align-items-center gap-4">
                  <a href="/" class="text-decoration-none fw-medium text-white"
                    >Home</a
                  >
                  <a href="/" class="text-decoration-none fw-medium text-white"
                    >Movie</a
                  >
                  <a href="" class="text-decoration-none fw-medium text-white"
                    >Theatre</a
                  >
                  <a href="" class="text-decoration-none fw-medium text-white"
                    >Release</a
                  >
                </div>
              </div>
              <div>
                <a
                  href=""
                  class="btn text-white btn-danger rounded-pill px-4 fw-bold"
                  >Login</a
                >
                <a
                  class="ms-3"
                  data-bs-toggle="offcanvas"
                  href="#offcanvasExample"
                  role="button"
                  aria-controls="offcanvasExample"
                >
                  <i class="fa-solid fa-ticket fs-5" style="color: #74c0fc"></i>
                </a>
              </div>
            </nav>
          </header>
        </div>
      </div>
    </section>

    <!-- screen -->
    <section class="screen">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="showtime text-center mt-4 p-4 rounded-3">
              <h4 class="text-white mb-3">Choose Date & Time</h4>
              
              <!-- Date -->
              <select id="showDate" class="form-select w-50 d-block mb-3 bg-transparent text-white">
                <!-- JS will fill dates dynamically -->
              </select>

              <!-- Time -->
              <select id="showTime" class="form-select w-50 d-block bg-transparent text-white">
                 <option value="">Select Time</option>
                <option value="10:00 AM">10:00 AM</option>
                <option value="1:00 PM">1:00 PM</option>
                <option value="4:00 PM">4:00 PM</option>
                <option value="7:00 PM">7:00 PM</option>
                <option value="10:00 PM">10:00 PM</option>
              </select>
            </div>
          </div>
          <div class="col-md-8">
            <div
              class="screen-card d-flex flex-column align-items-center text-white"
            >
              <h4 class="mb-3">Select your seat</h4>
              <img src="/assets/img/screen.svg" alt="" />
              <h6 class="text-secondary">SCREEN SIDE</h6>
            </div>
            <div class="seats text-warning text-center mt-4">
              <div class="seat" data-seat="A1">A1</div>
              <div class="seat" data-seat="A2">A2</div>
              <div class="seat" data-seat="A3">A3</div>
              <div class="seat" data-seat="A4">A4</div>
              <div class="seat" data-seat="A5">A5</div>
              <div class="seat" data-seat="A6">A6</div>
            </div>
            <div class="seats text-warning text-center">
              <div class="seat" data-seat="B1">B1</div>
              <div class="seat" data-seat="B2">B2</div>
              <div class="seat" data-seat="B3">B3</div>
              <div class="seat" data-seat="B4">B4</div>
              <div class="seat" data-seat="B5">B5</div>
              <div class="seat" data-seat="B6">B6</div>
            </div>
            <div class="seats text-warning text-center">
              <div class="seat" data-seat="C1">C1</div>
              <div class="seat" data-seat="C2">C2</div>
              <div class="seat" data-seat="C3">C3</div>
              <div class="seat" data-seat="C4">C4</div>
              <div class="seat" data-seat="C5">C5</div>
              <div class="seat" data-seat="C6">C6</div>
            </div>
            <div class="seats text-warning text-center">
              <div class="seat" data-seat="D1">D1</div>
              <div class="seat" data-seat="D2">D2</div>
              <div class="seat" data-seat="D3">D3</div>
              <div class="seat" data-seat="D4">D4</div>
              <div class="seat" data-seat="D5">D5</div>
              <div class="seat" data-seat="D6">D6</div>
            </div>
            <div class="seats text-warning text-center mt-2">
              <div class="seat" data-seat="E1">E1</div>
              <div class="seat" data-seat="E2">E2</div>
              <div class="seat" data-seat="E3">E3</div>
              <div class="seat" data-seat="E4">E4</div>
              <div class="seat" data-seat="E5">E5</div>
              <div class="seat" data-seat="E6">E6</div>
              <div class="seat" data-seat="E7">E7</div>
              <div class="seat" data-seat="E8">E8</div>
              <div class="seat" data-seat="E9">E9</div>
              <div class="seat" data-seat="E10">E10</div>
            </div>
            <div class="seats text-warning text-center">
              <div class="seat" data-seat="F1">F1</div>
              <div class="seat" data-seat="F2">F2</div>
              <div class="seat" data-seat="F3">F3</div>
              <div class="seat" data-seat="F4">F4</div>
              <div class="seat" data-seat="F5">F5</div>
              <div class="seat" data-seat="F6">F6</div>
              <div class="seat" data-seat="F7">F7</div>
              <div class="seat" data-seat="F8">F8</div>
              <div class="seat" data-seat="F9">F9</div>
              <div class="seat" data-seat="F10">F10</div>
            </div>

            <div class="process-btn text-center mt-4">
              <button
                class="checkout btn btn-danger fw-semibold"
                id="checkoutBtn"
                data-bs-toggle="offcanvas"
                href="#offcanvasExample"
              >
                Proceed to Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="f-content text-white">
              <span class="text-danger fs-4 fw-medium">Book</span
              ><span class="fs-4 fw-medium">MyTicket</span>
              <p class="w-75 pe-5 mt-2">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Magnam, sequi voluptas possimus ea voluptatem ex voluptate,
                natus voluptatum aliquam odio sint fuga exercitationem, sapiente
                harum dignissimos repudiandae vel dolores explicabo?
              </p>
              <img src="/assets/img/googlePlay.svg" alt="" />
              <img src="/assets/img/appStore.svg" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="f-contact d-flex justify-content-between">
              <div class="f-about text-white">
                <h5 class="mb-2">Company</h5>
                <a href="" class="text-decoration-none d-block text-white-50"
                  >Home</a
                >
                <a href="" class="text-decoration-none d-block text-white-50"
                  >About Us</a
                >
                <a href="" class="text-decoration-none d-block text-white-50"
                  >Contact Us</a
                >
                <a href="" class="text-decoration-none d-block text-white-50"
                  >Privacy policy</a
                >
              </div>
              <div class="f-info text-white">
                <h5>Get in touch</h5>
                <p class="mb-0 text-white-50">+1-234-567-890</p>
                <p class="mb-0 text-white-50">contact@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright text-white text-center border-top mt-3">
          <p class="py-3 mb-0">
            Copyright 2025 © GreatStack. All Right Reserved.
          </p>
        </div>
      </div>
    </footer>

    <!-- booking confirm toast -->
    <div
      class="toast-container position-fixed start-50 top-0 translate-middle-x p-5 mt-5"
    >
      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <i
            class="fa-solid fa-circle-check fs-4 me-2"
            style="color: #63e6be"
          ></i>
          <strong>Booking Confirmed </strong>
          <button
            type="button"
            class="btn-close ms-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <!-- Select at least one seat -->
    <div
      class="toast-container position-fixed start-50 top-0 translate-middle-x p-5 mt-5"
    >
      <div
        id="seatSelect"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <i
            class="fa-solid fa-circle-xmark fs-4 me-2"
            style="color: #d92020"
          ></i>
          <strong>Select one seat atleast !! </strong>
          <button
            type="button"
            class="btn-close ms-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/screen.js"></script>
  </body>
</html>
