* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40) !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-inline: 7.5vw;
}

.hero-section {
  height: 100vh;
  background: url('/assets/img/coolie.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;   
}

.links {
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
}



/* ---------- Card  ---------- */
.movie-card-section{
  height: 100vh;
  padding-top: 5vw;
}

.card{
  background-color: rgb(37, 37, 37) !important;
}
